body{
    margin:0;
    font-family: cursive;
}

h1{
    justify-content: center;
    text-align: center;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.color-container{
    background-color: orange;
    width: 300px;
    height: 150px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,.3);
    font-size: 25px;
    border-radius: 10px;
    border: solid 2px black;
    
}